/* CSS Document */

/*header stuff*/
/********************/
header img {
	display: block;
    margin-left: 10px;
    margin-right: 0px;
		margin-top: 2.2%;
    width: 4%;
	float: left;
}
header h1 {
	position: relative;
	top: 18px;
	left: 10px;
	color: white;
	margin: 0px;
	padding: 0px;
}
header {
	background-color: #333333;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}
/********************/

/*navbar*/
/********************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111111;
}
/********************/

/*Back to top button*/
/********************/
#myBtn {
    display: none; /*Hidden by default*/
    position: fixed; /*Fixed/sticky position*/
    bottom: 20px; /*Place the button at the bottom of the page*/
    right: 30px; /*Place the button 30px from the right*/
    z-index: 99; /*Make sure it does not overlap*/
    border: none; /*Remove borders*/
    outline: none; /*Remove outline*/
    background-color: red; /*Set a background color*/
    color: white; /*Text color*/
    cursor: pointer; /*Add a mouse pointer on hover*/
    padding: 15px; /*Some padding*/
    border-radius: 10px; /*Rounded corners*/
    font-size: 18px; /*Increase font size*/
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/********************/

/* Universal */
* {
	margin: 0px;
	padding: 0px;
}


/* Content */
article {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}
article h1 {
	font-family: Arial;
	margin-bottom: 5px;
}
article p {
	font-family: "Times New Roman";
}
canvas {
	background: #eee;
}