/* CSS Document */

/*header stuff*/
/********************/
header img {
	display: block;
    margin-left: 10px;
    margin-right: 0px;
	margin-top: 10px;
    width: 45px;
	float: left;
}
header h1 {
	position: relative;
	top: 18px;
	left: 10px;
	color: white;
	margin: 0px;
	padding: 0px;
	font-family: "Times New Roman";
}
header {
	background-color: #333333;
	padding-top: 0px;
	padding-left: 0px;
	margin: 0px;
}
/********************/

/*navbar*/
/********************/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white; /* Text Color */
    text-align: center; /* Put text in the center of button */
    padding: 16px;
    text-decoration: none;
	font-family: Arial;
}

nav li a:hover {
    background-color: #111111; /* Change background of buttons when hovered over*/
}
nav {
	margin-left: 0px;
}
/********************/

/* Back to top button */
/********************/
#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#toTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
/********************/

/* Universal */
/********************/
* {
	margin: 0px;
	padding: 0px;
}
/********************/

/* Content */
/********************/
article {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 3%;
}
article h1 {
	font-family: Arial;
	margin-bottom: 5px;
}
article h2 {
	font-family: Arial;
	margin-top: 15px;
	margin-bottom: 5px;
}
article p {
	font-family: "Times New Roman";
}
article ul {
	margin-left: 2.05%
}
canvas {
	background: #eee;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	display: block;
}
/********************/

/* Footer */
/********************/
footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/********************/