<!doctype html>
<html>
	<head>
		<!--metadata-->
		<meta charset="UTF-8">
		<title>Project Showcase Website</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		<script src="js/gototop.js"></script>
	</head>
	<div class="header">
		<header>
			<!--Logo and stuff, I guess-->
			<img src="img/header-logo.png" alt="Vector image of a tiger's face." />
			<h1>Project Showcase Website</h1>
			<nav>
				<!--navbar-->
				<br>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="games/learnjs.html">Learn JavaScript</a></li>

					<!--github link-->
					<li><a href="https://github.com/TiqerDevs">GitHub Page</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<body>
		<!--body content-->
	</body>
	<footer>
		<!--footer content-->
	</footer>
</html>
